{
    "extends": "airbnb",
    "rules": {
        "indent": 1,
        "react/jsx-indent": 1,
        "react/jsx-indent-props": 1,
        "comma-dangle": ["warn", "never"],
        "arrow-parens": ["warn", "as-needed"],
        "linebreak-style": "off"
    },
    "globals": {
        "document": true,
        "DATA_URL": true,
        "window": true,
        "localStorage": true
    }
}
